<!DOCTYPE html>
<html>
<head>
<title>Inventory Manager - Catalog</title>

<!-- required scripts -->
~[wc:commonscripts] 
<!-- Required style sheets: screen.css, and print.css --> 
<link href="/images/css/screen.css" rel="stylesheet" media="screen">
<link href="/images/css/print.css" rel="stylesheet" media="print">
 
</head>
    
<body> 
~[wc:admin_header_css] 

<!-- breadcrumb start -->
<a href="/admin/home.html" target="_top">~[text:psx.html.admin_attendance_functions.attendancefunctions.start_page]</a> &gt; 
<a href="home_stuff.html" target="_top">Inventory Management</a> &gt; 
Catalog
<!-- breadcrumb end --> 

<!-- start of main menu and content --> 
~[wc:admin_navigation_css] 
    
<!-- Start of Page --> 

<h1>Inventory Manager - Catalog</h1>

<!-- start of content area --> 
<div class="box-round" id="catalogController" ng-controller="catalogController" ng-cloak>

    <div id="catalogGrid" data-pss-grid-widget data-data="catalogData" data-filtered-data="filteredCatalogData" data-client-side-pagination="true">
        <p style="text-align:center;"><a class="button" title="Add Item" href="catalogedit_stuff.html?catalogid=-1">Add a New Catalog Item</a></p>
        <table class="grid">
        <thead>
            <tr>
                <th data-pss-sort-fields="name">Item Name</th>
                <th data-pss-sort-fields="vendor">Vendor</th>
                <th data-pss-sort-fields="model_number">Model Number</th>
                <th data-pss-sort-fields="category">Category</th>
                <th data-pss-sort-fields="active">Active?</th>
                <th data-pss-sort-fields="note">Note</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="item in filteredCatalogData" >
                <td align="left"><a href="catalogedit_stuff.html?catalogid={{ item.id }}">{{ item.name }}</a></td>
                <td align="left">{{ item.vendor }}</td>
                <td align="left">{{ item.model_number }}</td>
                <td align="left">{{ item.category }}</td>
                <td align="left">{{ item.active }}</td>
                <td align="left">
                    <span data-ng-if="item.note.length <= 20">{{ item.note }}</span>
                    <span data-ng-if="item.note.length > 20">
                        <a class="dialogDivC" title="Note" href="#hiddenNote{{ item.id}}">
                            {{ item.note | limitTo:20 }}...
                        </a>
                        <div id="hiddenNote{{item.id}}" class="hide">
                            <p>{{ item.note }}</p>
                        </div>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
<!-- end of content area --> 

~[wc:admin_footer_css] 
<script>
    require(['angular', 'stuff/scripts_stuff'], function (angular) {
        angular.bootstrap(document.getElementById("catalogController"), ['inventoryModule']);
    });
</script>
</body> 
</html>