<!DOCTYPE html>
<html>
<head>
<title>Inventory Manager - Circulation</title>

<!-- required scripts -->
~[wc:commonscripts] 
<!-- Required style sheets: screen.css, and print.css --> 
<link href="/images/css/screen.css" rel="stylesheet" media="screen">
<link href="/images/css/print.css" rel="stylesheet" media="print">
 
</head>
    
<body> 
~[wc:admin_header_css] 

<!-- breadcrumb start -->
<a href="/admin/home.html" target="_top">~[text:psx.html.admin_attendance_functions.attendancefunctions.start_page]</a> &gt; 
<a href="home_stuff.html" target="_top">Inventory Management</a> &gt; 
Circulation
<!-- breadcrumb end --> 

<!-- start of main menu and content --> 
~[wc:admin_navigation_css] 
    
<!-- Start of Page --> 

<h1>Inventory Manager - Circulation</h1>

<!-- start of content area --> 
<div class="box-round" id="circulationController" ng-controller="circulationController" ng-cloak>

    <div id="catalogGrid" data-pss-grid-widget data-data="circulationData" data-filtered-data="filteredCirculationData" data-client-side-pagination="true">        
        <table class="grid">
        <thead>
            <tr>
                <th data-pss-sort-fields="student">Student</th>
                <th data-pss-sort-fields="issue_date|date">Issue Date</th>
                <th data-pss-sort-fields="due_date|date">Due Date</th>
                <th data-pss-sort-fields="return_date|date">Return Date</th>
                <th data-pss-sort-fields="condition_issued">Issued Condition</th>
                <th data-pss-sort-fields="condition_returned">Returned Condition</th>
                <th data-pss-sort-fields="department">Department</th>
                <th data-pss-sort-fields="category">Category</th>
                <th data-pss-sort-fields="vendor">Vendor</th>
                <th data-pss-sort-fields="catalog">Item</th>
                <th data-pss-sort-fields="asset_number">Asset Number</th>                
                <th data-pss-sort-fields="note">Note</th>                
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="assignment in filteredCirculationData" >
                <td align="left">{{ assignment.student }}</td>
                <td align="left">{{ assignment.issue_date|date:~[dateformat] }}</td>
                <td align="left">{{ assignment.due_date|date:~[dateformat] }}</td>
                <td align="left">{{ assignment.return_date|date:~[dateformat] }}</td>
                <td align="left">{{ assignment.condition_issued }}</td>
                <td align="left">{{ assignment.condition_returned }}</td>                
                <td align="left">{{ assignment.department }}</td>
                <td align="left">{{ assignment.category }}</td>
                <td align="left">{{ assignment.vendor }}</td>
                <td align="left">{{ assignment.catalog }}</td>
				<td align="left"><a href="/admin/stuff/inventoryedit_stuff.html?inventoryid={{ assignment.inventoryid }}">{{ assignment.asset_number }}</a></td>
                <td align="left">
                    <span data-ng-if="assignment.note.length <= 20">{{ item.note }}</span>
                    <span data-ng-if="assignment.note.length > 20">
                        <a class="dialogDivC" title="Note" href="#hiddenNote{{ assignment.id}}">
                            {{ assignment.note | limitTo:20 }}...
                        </a>
                        <div id="hiddenNote{{assignment.id}}" class="hide">
                            <p>{{ assignment.note }}</p>
                        </div>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
<!-- end of content area --> 

~[wc:admin_footer_css] 
<script>
    require(['angular', 'stuff/scripts_stuff'], function (angular) {
        angular.bootstrap(document.getElementById("circulationController"), ['inventoryModule']);
    });
</script>
</body> 
</html>