<!DOCTYPE html>
<html>
<head>
<title>Inventory Manager - Inventory</title>

<!-- required scripts -->
~[wc:commonscripts] 
<!-- Required style sheets: screen.css, and print.css --> 
<link href="/images/css/screen.css" rel="stylesheet" media="screen">
<link href="/images/css/print.css" rel="stylesheet" media="print">
 
</head>
    
<body> 
~[wc:admin_header_css] 

<!-- breadcrumb start -->
<a href="/admin/home.html" target="_top">~[text:psx.html.admin_attendance_functions.attendancefunctions.start_page]</a> &gt; 
<a href="home_stuff.html" target="_top">Inventory Management</a> &gt; 
Inventory
<!-- breadcrumb end --> 

<!-- start of main menu and content --> 
~[wc:admin_navigation_css] 
    
<!-- Start of Page --> 

<h1>Inventory Manager - Inventory</h1>

<!-- start of content area --> 
<div class="box-round" id="inventoryController" ng-controller="inventoryController" ng-cloak>
    
    <!-- this container holds the PS Tiles Widget --> 
    <div class="kpi-container">
        <div class="kpi-header">
            <h3>Inventory</h3>
        </div>
        <div class="kpi-content">
            <div class="kpi-container">
                 <div class="kpi-content tiles">
                     <div data-pss-vidget-wrapper>
                         <div id="tileCarousel"
                             data-pss-vidget
                             data-pss-carousel
                             data-vidget-source="vidget:tiles:raw"
                             data-vidget-model="model.tiles">
                             <div id="tiles"
                                  data-pss-vidget
                                  data-pss-tiles-vidget
                                  data-pss-carousel-tiles-vidget
                                  data-my-tiles>
                             </div>
                         </div>
                     </div>
                 </div>    
            </div>    
        </div>
    </div>
    <!-- end of PS Tiles Widget --> 
        
    <div id="inventoryGrid" data-pss-grid-widget data-data="inventoryData" data-filtered-data="filteredInventoryData" data-client-side-pagination="true">
        <p style="text-align:center;"><a class="button" title="Add Item" href="inventoryedit_stuff.html?inventoryid=-1">Add a New Inventory Item</a></p>
        <table class="grid">
        <thead>
            <tr>
                <th data-pss-sort-fields="asset_number">Asset #</th>
                <th data-pss-sort-fields="name">Item</th>
                <th data-pss-sort-fields="serial_number">Serial Number</th>
                <th data-pss-sort-fields="department">Department</th>
                <th data-pss-sort-fields="category">Category</th>
                <th data-pss-sort-fields="status">Status</th>
                <th data-pss-sort-fields="assignedto">Assigned To</th>
                <th data-pss-sort-fields="datepurchased|date">Purchase Date</th>
                <th data-pss-sort-fields="cost">Cost</th>
                <th data-pss-sort-fields="note">Note</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="item in filteredInventoryData" >
                <td align="left"><a href="inventoryedit_stuff.html?inventoryid={{ item.id }}">#{{ item.asset_number }}</a></td>
                <td align="left" style="white-space: nowrap">{{ item.name }}</td>
                <td align="left">{{ item.serial_number }}</td>
                <td align="left">{{ item.department }}</td>
                <td align="left">{{ item.category }}</td>
                <td align="left">{{ item.status }}</td>
                <td align="left">{{ item.assignedto }}</td>
                <td align="left">{{ item.datepurchased|date:~[dateformat] }}</td>
                <td align="left">{{ item.cost }}</td>
                <td align="left">
                    <span data-ng-if="item.note.length <= 20">{{ item.note }}</span>
                    <span data-ng-if="item.note.length > 20">
                        <a class="dialogDivC" title="Note" href="#hiddenNote{{ item.id}}">
                            {{ item.note | limitTo:20 }}...
                        </a>
                        <div id="hiddenNote{{item.id}}" class="hide">
                            <p>{{ item.note }}</p>
                        </div>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
<!-- end of content area --> 

~[wc:admin_footer_css] 
<script>
    require(['angular', 'stuff/scripts_stuff'], function (angular) {
        angular.bootstrap(document.getElementById("inventoryController"), ['inventoryModule']);
    });
</script>
</body> 
</html>