<!DOCTYPE html>
<html>
<head>
<title>Inventory Manager - Overlapping Assignments</title>

<!-- required scripts -->
~[wc:commonscripts] 
<!-- Required style sheets: screen.css, and print.css --> 
<link href="/images/css/screen.css" rel="stylesheet" media="screen">
<link href="/images/css/print.css" rel="stylesheet" media="print">
 
</head>
    
<body> 
~[wc:admin_header_css] 

<!-- breadcrumb start -->
<a href="/admin/home.html" target="_top">~[text:psx.html.admin_attendance_functions.attendancefunctions.start_page]</a> &gt; 
<a href="home_stuff.html" target="_top">Inventory Management</a> &gt; 
Overlapping Assignments
<!-- breadcrumb end --> 

<!-- start of main menu and content --> 
~[wc:admin_navigation_css] 
    
<!-- Start of Page --> 

<h1>Inventory Manager - Overlapping Assignments</h1>

<!-- start of content area --> 
<div class="box-round" id="overlappingController" ng-controller="overlappingController" ng-cloak>

    <div id="inventoryGrid" data-pss-grid-widget data-data="overlappingData" data-filtered-data="filteredAssignmentsData" data-client-side-pagination="true">        
        <table class="grid">
        <thead>
            <tr>
                <th data-pss-sort-fields="asset_number">Asset #</th>
                <th data-pss-sort-fields="name">Item</th>
                <th data-pss-sort-fields="serial_number">Serial Number</th>
                <th data-pss-sort-fields="department">Department</th>
                <th data-pss-sort-fields="category">Category</th>
                <th data-pss-sort-fields="status">Status</th>
                <th data-pss-sort-fields="student1">Stu 1 Name</th>
                <th data-pss-sort-fields="issue_date1|date">Stu 1 Issued Date</th>
                <th data-pss-sort-fields="return_date1|date">Stu 1 Return Date</th>                
				<th data-pss-sort-fields="student2">Stu 2 Name</th>
                <th data-pss-sort-fields="issue_date2|date">Stu 2 Issued Date</th>
                <th data-pss-sort-fields="return_date2|date">Stu 2 Return Date</th>				
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="assignment in filteredAssignmentsData" >
                <td align="left"><a href="inventoryedit_stuff.html?inventoryid={{ assignment.inventoryid }}" target="_blank">#{{ assignment.asset_number }}</a></td>
                <td align="left" style="white-space: nowrap">{{ assignment.name }}</td>
                <td align="left">{{ assignment.serial_number }}</td>
                <td align="left">{{ assignment.department }}</td>
                <td align="left">{{ assignment.category }}</td>
                <td align="left">{{ assignment.status }}</td>
                <td align="left"><a href="/admin/students/home.html?frn=001{{ assignment.student1dcid }}&lsp=/admin/students/stuff/assignmentsedit_stuff.html%3Faid%3D{{ assignment.assignment1id }}&no-store-lp=1" target="_blank">{{ assignment.student1 }}</a></td>
				<td align="left">{{ assignment.issue_date1|date:~[dateformat] }}</td>
				<td align="left">{{ assignment.return_date1|date:~[dateformat] }}</td>
				<td align="left"><a href="/admin/students/home.html?frn=001{{ assignment.student2dcid }}&lsp=/admin/students/stuff/assignmentsedit_stuff.html%3Faid%3D{{ assignment.assignment2id }}&no-store-lp=1" target="_blank">{{ assignment.student2 }}</a></td>
				<td align="left">{{ assignment.issue_date2|date:~[dateformat] }}</td>
				<td align="left">{{ assignment.return_date2|date:~[dateformat] }}</td>                              
            </tr>
        </tbody>
    </table>
    </div>
</div>
<!-- end of content area --> 

~[wc:admin_footer_css] 
<script>
    require(['angular', 'stuff/scripts_stuff'], function (angular) {
        angular.bootstrap(document.getElementById("overlappingController"), ['inventoryModule']);
    });
</script>
</body> 
</html>