	~[tlist_sql;
    WITH available AS (
        SELECT 
        u_stuff_inventory.id,
        CASE 
        WHEN to_char(u_stuff_inventory.id) = htf.escape_sc('~(gpv.curinvid)') THEN 'selected' 
        ELSE '' END as select_option,
        u_stuff_inventory.asset_number
        || ' ' || u_stuff_catalog.name 
        || ' / ' || u_stuff_catalog.vendor 
        || ' (' || u_stuff_categories.name || ')'
        || ' ' || u_stuff_status.name as name
        FROM 
        u_stuff_inventory LEFT OUTER JOIN 
        u_stuff_catalog ON u_stuff_inventory.catalogid = u_stuff_catalog.id LEFT OUTER JOIN
        u_stuff_categories ON u_stuff_catalog.categoryid = u_stuff_categories.id LEFT OUTER JOIN
        u_stuff_status ON u_stuff_inventory.statusid = u_stuff_status.id LEFT OUTER JOIN
        u_stuff_assignments ON 
	        u_stuff_inventory.id = u_stuff_assignments.inventoryid AND
	        nvl(u_stuff_assignments.return_date,trunc(sysdate)) >= trunc(sysdate)
        WHERE
	    ((u_stuff_catalog.active = 1
        AND u_stuff_assignments.id IS NULL)
        OR to_char(u_stuff_inventory.id) = htf.escape_sc('~(gpv.curinvid)'))
		~[if.~(gpv.departmentid)#]AND u_stuff_inventory.departmentid = ~(gpv.departmentid)[/if]
		~[if.~(gpv.categoryid)#]AND u_stuff_catalog.categoryid = ~(gpv.categoryid)[/if]
		~[if.~(gpv.catalogid)#]AND u_stuff_inventory.catalogid = ~(gpv.catalogid)[/if]
        ORDER BY u_stuff_inventory.asset_number,u_stuff_catalog.name)
    SELECT DISTINCT id, select_option, name FROM available ORDER BY name;nonemessage=<option value="-1">No unassigned items match these filters</option>]
        <option value="~(id;l)"  ~(select_option;t)>~(name;t)</option>
    [/tlist_sql]