<!DOCTYPE html>
<html>
<!-- start right frame -->
<head>
<title>Inventory Manager</title>
~[wc:commonscripts]
<link href="/images/css/screen.css" rel="stylesheet" media="screen">
<link href="/images/css/print.css" rel="stylesheet" media="print">
</head>
~[wc:admin_header_frame_css]
<!-- breadcrumb start -->
<a href="/admin/home.html" target="_top">Start Page</a> &gt;
<a href="/admin/students/home.html?selectstudent=nosearch" target="_top">Student Selection</a> &gt;
Student Inventory
<!-- breadcrumb end -->
~[wc:admin_navigation_frame_css]

~[wc:title_student_begin_css]Inventory Manager~[wc:title_student_end_css]

~[if#blanktype.~(gpv.type)=]~[SetPostValue:type=current][/if#blanktype]

~[if#current.~(gpv.type)#historical]
<ul class="tabs">  
    <li class="selected">  
        <a>Current</a>
    </li>  
    <li>  
        <a href="studentinventory_stuff.html?type=historical&frn=~(frn)">History</a>
    </li>  
</ul>
[/if#current]

~[if#historical.~(gpv.type)=historical]
<ul class="tabs">  
    <li>  
        <a href="studentinventory_stuff.html?type=current&frn=~(frn)">Current</a>
    </li>  
    <li class="selected">  
        <a>History</a>
    </li>  
</ul>
[/if#historical]

<!-- start of content for tab 1 - Current Equipment -->

<div class="box-round" id="studentController" data-ng-controller="studentController" ng-cloak ng-init="student_dcid='~(rn)'; listInventory('~(gpv.type)')">
    <h3>Current Equipment</h3>

    <!-- start of inventory list -->
    <div id="inventoryGrid" data-pss-grid-widget data-data="inventoryData" data-filtered-data="filteredInventoryData" data-client-side-pagination="false" data-filter-constraint="no-filters">
        <p style="text-align:center;" data-ng-show="'~(gpv.type)'=='current'">
            <a href="assignmentsedit_stuff.html?frn=~(frn)&aid=-1&no-store-lp=1" id="assignInventory" class="button">Assign Equipment</a>
        </p>
        <table class="grid">
        <thead>
            <tr>
                <!-- use cmd-enter in brackets to go to end off line and then carriage return -->
                <th data-pss-sort-fields="issue_date|date">Issue Date</th>
                <th data-pss-sort-fields="condition_issued">Condition Issued</th>
                <th data-pss-sort-fields="due_date|date">Due Date</th>
                <th data-pss-sort-fields="return_date|date">Return Date</th>
                <th data-pss-sort-fields="condition_returned">Condition Returned</th>
                <th data-pss-sort-fields="equipment">Equipment</th>
                <th data-pss-sort-fields="note">Note</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in filteredInventoryData" >
                <td align="left"><a href="assignmentsedit_stuff.html?frn=~(frn)&aid={{ item.id }}&no-store-lp=1">{{ item.issue_date || '--' }}</a></td>
                <td align="left">{{ item.condition_issued }}</td>
                <td align="left">{{ item.due_date|date:~[dateformat] }}</td>
                <td align="left">{{ item.return_date|date:~[dateformat] }}</td>
                <td align="left">{{ item.condition_returned }}</td>
                <td align="left">{{ item.equipment }}</td>
                <td align="left">
                    <span data-ng-if="item.note.length <= 20">{{ item.note }}</span>
                    <span data-ng-if="item.note.length > 20">
                        <a class="dialogDivC" title="Note" href="#hiddenNote{{ item.id}}">
                            {{ item.note | limitTo:20 }}...
                        </a>
                        <div id="hiddenNote{{item.id}}" class="hide">
                            <p>{{ item.note }}</p>
                        </div>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <!-- end of inventory list -->

</div>    
<!-- end of content for tab 1 - INFO -->

~[wc:admin_footer_frame_css]
<script>
    require(['angular', 'stuff/scripts_stuff'], function (angular) {
       angular.bootstrap(document.getElementById("studentController"), ['inventoryModule']);
    });
</script>
</body>
</html><!-- end right frame -->